@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #c0392b;
  --color-secondary: teal;
}

nav ul li a {
  transition: all 0.3s ease-in;
}
nav ul li a:active,
nav ul li a:hover {
  color: #c0392b;
  font-weight: 500;
}
.btn-primary,
.btn-secondary {
  color: white;
}
